<!DOCTYPE html>
<html>
  <head><% include partials/template/head_view.ejs %></head>
  <body id="<%= pageID %>">
    <% include partials/template/header_view.ejs %>
    <% include partials/content/speakerslist_view.ejs %>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <% include partials/content/maincontent_view.ejs %>
        </div><!-- primary -->
        <aside class="col-sm-4">
          <% include partials/content/whoshouldcome_view.ejs %>
          <% include partials/content/artworklist_view.ejs %>
        </aside><!-- secondary -->
      </div>
    </div><!-- container -->
    <% include partials/template/jsdefaults_view.ejs %>
  </body>
</html>